/* Styles shared among components. Defines fonts, icons and root styling, incl. vars. */

/* Icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/* Fonts (penetrate shadow DOM) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap'); /*  font-family: 'Lexend', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* font-family: 'Work Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;500;600;700;800;900&display=swap'); /* font-family: 'Noto Sans Display', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap'); /* font-family: 'Noto Sans', sans-serif; */


/* Root styling */
:root {
  font-size: 6.25%; /* Browser font size = 16px -> 1rem = 1px... But stick with px (browser page-zooming is more prevalent than customizing font size) */

  /* Vars (penetrate shadow DOM) */
  --themeColor: #1e87f0;  /* Default value. Controlled from code. */
  --themeColorDark: #1B79D8;  /* Default value. Controlled from code. */
  --themeColorAlt: #ff9800;  /* Default value. Controlled from code. */
  --themeColorAltDark: #aa0c00;  /* Default value. Controlled from code. */

  --lightGray: gainsboro;
  --mediumGray: darkGray;
  --darkGray: dimGray;

  --white: white;
  --black: black;
  --green: green;
  --red: red;

  --border0: 1px solid gray;

  --borderRadiusS: 2px;
  --borderRadiusM: 4px;

  --boxShadow0: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; /* https://getcssscan.com/css-box-shadow-examples #27 (Material). */
  --boxShadow1: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;  /* https://getcssscan.com/css-box-shadow-examples #29 (Material). */
  --boxShadow2: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;  /* https://getcssscan.com/css-box-shadow-examples #31 (Material). */

  --distXS: 2px;
  --distS: 4px;
  --distM: 6px;
  --distL: 10px;
  --distXL: 16px;
  --distXXL: 32px;

  --fontFamily0: 'Poppins', sans-serif;
  --fontFamily1: 'Lexend', sans-serif;
  --fontFamily2: 'Work Sans', sans-serif;
  --fontFamily3: 'Noto Sans Display', sans-serif;
  --fontFamily4: 'Noto Sans', sans-serif;

  --fontSizeXS: 8px;
  --fontSizeS: 10px;
  --fontSizeM: 14px;
  --fontSizeL: 16px;
  --fontSizeXL: 24px;

  --fontWeightS: 100;
  --fontWeightM: 400;
  --fontWeightL: 600;

  --lineHeightS: 1.2;
  --lineHeightM: 1.4;
  --lineHeightL: 1.6;

  --paddingS: 2px 3px;
  --paddingM: 4px 6px;
  --paddingL: 8px 12px;

  --transitionTimeS: 400ms;
  --transitionTimeM: 600ms;
  --transitionTimeL: 800ms;

  --zIndexDrop: 10;
}

:root * {
  box-sizing: border-box;
}









